* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}
.container {
  background-color: white;
  text-align: center;
  width: 40%;
  border-radius: 20px;
}
.container h3 {
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 300;
}
.btn{
  width: 90%;
  padding: .5rem .5rem;
  border-radius: 20px;
  background-color: rgb(30, 30, 210);
  color: white;
  border: none;
  margin: 1rem ;
  transition: all ease .5s;
}

.btn:hover{
  background-color: red;
  width: 30%;
  color: white;
}