* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(168, 203, 234);
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80vh;
  max-width: 600px;
  margin: 5rem 0;
  background-color: white;
  border-radius: 20px;
  padding: 1.5rem 2rem;
}
.container h3 {
  margin-bottom: 2rem;
  text-align: center;
}
.btn {
  width: 80%;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  background-color: aqua;
  margin: 0 3rem;
  transition: all ease 0.5s;
}
.btn:hover{
  background-color: red;
  color: white;
}